@model IEnumerable<CrudOperation.Models.Employee>
<h1>Employees List</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Salary</th>
            <th>DataOfBirth</th>
            <th>Department</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emplyes in Model)
        {
         <tr>
             <td>@emplyes.Id</td>
             <td>@emplyes.Name</td>
             <td>@emplyes.Salary</td>
             <td>@emplyes.DataOfBirth</td>
             <td>@emplyes.Department</td>
             <td><a href="EmployeeController1/View/@emplyes.Id">View</a></td>
         </tr>
             
        }
    </tbody>
</table>